# This file contains environment variables that can be used to configure the Onyx SSI examples repository.

# The following variables are needed for examples that use the did-ethr (Ethereum DID Resolver).
# NETWORK_RPC_URL: The URL of the RPC network. This is typically a URL that points to your Ethereum node or Ethereum gateway.
# CHAIN_ID: The ID of the Ethereum chain you're connecting to. This helps to ensure the correct network is used. For example, Ethereum mainnet is '1' etc...
# NETWORK_NAME: The name of the network you're using.
# REGISTRY_CONTRACT_ADDRESS: The registry contract address you're interacting with.
NETWORK_RPC_URL=
CHAIN_ID=
NETWORK_NAME=
REGISTRY_CONTRACT_ADDRESS=

# The following variables are used as keys for the issuer. You can either use your own keys or generate new ones using the /src/create-keypair.ts script.
# If no value is provided, the program will automatically generate a key pair for you and store it in a file called keys.json in the root directory.
# ISSUER_EDDSA_PRIVATE_KEY: The issuer's EdDSA (Elliptic Curve Digital Signature Algorithm) private key.
# ISSUER_ES256K_PRIVATE_KEY: The issuer's ES256K (Elliptic Curve Digital Signature Algorithm with SHA-256) private key.
ISSUER_EDDSA_PRIVATE_KEY=
ISSUER_ES256K_PRIVATE_KEY=

# The following variables are used as keys for the holder. You can either use your own keys or generate new ones using the /src/create-keypair.ts script.
# If no value is provided, the program will automatically generate a key pair for you and store it in a file called keys.json in the root directory.
# HOLDER_EDDSA_PRIVATE_KEY: The holder's EdDSA private key.
# HOLDER_ES256K_PRIVATE_KEY: The holder's ES256K private key.
HOLDER_EDDSA_PRIVATE_KEY=
HOLDER_ES256K_PRIVATE_KEY=

# VC (Verification Credentials)
# VC_DIR_PATH: The directory where your verification credentials are stored. If no value is provided, it defaults to '/src/verification_credentials'.
# VC: The name of the verification credential you're using.
# VC_ES256K_PRIVATE_KEY: The private key used for revocation of this verification credential. Remember, keep this secure!
# VC_SCHEMA_URL: This is the remote URL where the schema for your verification credential is hosted.
VC_DIR_PATH=
VC=
VC_ES256K_PRIVATE_KEY=
VC_SCHEMA_URL=

# VP (Verification Presentation)
# VP_DIR_PATH: The directory where your verification presentations are stored. If no value is provided, it defaults to '/src/verification_presentation'.
# VP: The name of the verification presentation you're using.
VP_DIR_PATH=
VP=